<div *ngFor="let data of dataArray">
  <div class="col-sm-12">
    <div class="SoilData">
      <div *ngIf="data.DataTypeID == '1'">
        <h3>
          <img src="assets/icons/Icons8-Windows-8-Ecommerce-Temperature-Sensitive.ico" alt="Temperature" width="50" height="50"> {{data.Value}}{{data.Unit}}
        </h3>
      </div>
      <div *ngIf="data.DataTypeID == '2'">
        <h3>
          <img src="assets/icons/Icons8-Windows-8-Science-Humidity.ico" alt="Humidity" width="50" height="50"> {{data.Value}}{{data.Unit}}
        </h3>
      </div>
      <h6>{{data.DateCreated | date:'dd/MM/yyyy HH:mm'}}</h6>
    </div>
  </div>
</div>
<div class="col-sm-3">
  <div class="button">
    <div *ngIf="!status?.status">
      <button class="btn btn-lg btn-default" *ngIf="!status?.status" (click)="status.status = true" (click)="waterOn($event)">
        <img src="assets/icons/Diy-Water-Hose-icon.png" alt="Water" width="25" height="25"> Water
      </button>
      <!-- <input type="button" value="Water" class="button-water" *ngIf="!status?.status" (click)="status.status = true" (click)="waterOn($event)"> -->
    </div>
    <div>
      <div *ngIf="status?.status">
        <button class="btn btn-lg btn-danger" *ngIf="status?.status" (click)="status.status = false" (click)="waterOff($event)">
          <img src="assets/icons/Plants-Water-Hose-icon.png" alt="Stop" width="30" height="25"> Stop!
        </button>

      </div>
    </div>
    <div class="alert alert-danger" *ngIf="error">
      {{ error }}
    </div>
  </div>
</div>