*{
    align-items: center;
    font-family: 'Vibur', cursive;
}

.btn {
    /* background-color: rgba(227, 236, 236, 0.13); */
    /* border-color:  rgb(77, 75, 75); */
    opacity: 0.8;
    border-inline-end-style: solid;
    font-family: 'Vibur', cursive;
    align-items: right;
}

.btn:hover{
    opacity: 1;
}

.btnStop{
    opacity: 0.4;
}

.button {
    padding:  10px 5px 15px 10px;  
    border: 0ch;
    margin-left: 34%;
}

.ml-big{
    margin-left: 35%;
}

image{
    margin: auto;
}
.soilIcon {
    /* padding:  10px 5px 15px 10px; */
    align-items: left ;
}
.SoilData{
    /* padding:  10px 5px 15px 10px; */
    font-family: serif;
    font-style: normal; 
    font-size: xx-small;
    font-weight: bold;
    margin-left: 10px;
    /* text-justify: kashida; */
    /* display: inline-block; */
    
}

hr{
    background-color: black;
    border-color: black;
}

h6{
    margin-top: 5%;
}


