*{
    align-items: center;
}

.btn {
    background-color: rgba(116, 245, 250, 0.13);
    border-color:  rgb(77, 75, 75);
    border-inline-end-style: solid;
    color: black;
    font-weight: bold;
    font-family: serif;
    align-items: right;
}

.button {
    padding:  10px 5px 15px 10px;  
    border: 0ch;
    margin-left: 37%;
}

.ml-big{
    margin-left: 37%;
}

image{
    margin: auto;
}
.soilIcon {
    /* padding:  10px 5px 15px 10px; */
    align-items: left ;
}
.SoilData{
    /* padding:  10px 5px 15px 10px; */
    font-family: serif;
    font-style: normal; 
    font-size: xx-small;
    font-weight: bold;
    margin-left: 10px;
    /* text-justify: kashida; */
    /* display: inline-block; */
    
}

hr{
    background-color: black;
    border-color: black;
}

h6{
    margin-top: 5%;
}


