<div class="bd" *ngIf="!requireLogin()">
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">

      <div class="navbar-brand" (click)="logOut()">
        Jussi in Redhouse.. Plz do not LogOut!
      </div>

    </div>
  </nav>
  <div class="row">

    <div class="col-sm-6">
      <div class="container-fluid">
        <h1 class="SoilHeader">Soil Measurements
          <img src="assets/icons/Icons8-Windows-8-Healthcare-Lungs.ico" alt="Lungs" width="60" height="60"> </h1>
        <hr>
        <div class="col-sm-6" class="container-fluid">
          <app-preferences></app-preferences>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="container-fluid">
        <div class="col-sm-6" class="container-fluid">
          <app-out-data-list></app-out-data-list>
        </div>
      </div>
    </div>
  </div>

</div>
<div class="login" *ngIf="requireLogin()">
  <app-login>
  </app-login>
</div>