<!-- Navigation Header TODO: Name Via Api -->

<div class="bd">
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">

      <a href="" class="navbar-brand">
        Jussi Trees | Red House
      </a>
    </div>
  </nav>
  <!-- Sidebar -->
  <div class="row">

    <!-- Soil Measurements Header -->
    <div class="col-sm-6">
      <div class="container-fluid">
        <h1 class="SoilHeader">Soil Measurements
          <img src="assets/icons/Icons8-Windows-8-Healthcare-Lungs.ico" alt="Lungs" width="60" height="60"> </h1>
        <hr>
        <!-- Soil Measurements Body -->
        <!-- <div class="col-sm-4"> -->
        <!-- <app-preferences></app-preferences> -->
        <!-- </div> -->
        <div class="col-sm-6" class="container-fluid">
          <app-preferences></app-preferences>
        </div>
        <!-- <app-nodes-data-list></app-nodes-data-list> -->
      </div>
    </div>

  </div>

  <!-- Outfield Measurements Header -->
</div>