.SoilHeader{
    border-color: black;
    border-bottom-width: 2px;
    border-bottom: black;
}

.bd{
    background-color: rgba(24, 35, 36, 0.356);
    /* border-block-end-style: groove; */
    /* border-block-start: 1px; */
    border-color: black;
    font-family: 'Vibur', cursive;
}

.navbar-brand{
    font-family: 'Vibur', cursive;
}

hr{
    background-color: black;
    border-color: black;
}